@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Poppins:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-primaryColor rounded-full font-medium text-white;
  }

  .gradient {
    @apply bg-gradient-to-r from-white/40 to-white;
  }

  .navLink {
    @apply relative before:absolute before:-bottom-1 before:bg-secondaryColor before:hidden  before:h-1 before:w-full  group-hover:text-secondaryColor group-hover:before:block;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}
